.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.yourTodo{
  margin-top: 2rem;
}
.todoItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todoItem{
  display: flex;
  justify-content: space-between;
}